.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 50px;
}
.proceed-link {
  text-decoration: none;
}
.btn-proceed {
  width: 90%;
  height: 56px;
  font-size: 21px;
  margin: 10px auto;
  background: #ff9900;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
